<div class="container-fluid last_con ">
    <div class="row">
      <div class="col-md-4 col-lg-4 last_one text-start">
        <h2>About</h2>
        <p>
          Graphic designing is an art of visual communication
           and it has become an essential aspect of modern marketing and advertising. Adobe Photoshop and Illustrator are two of the most popular software tools used for graphic designing.
        </p>
      <div class="anchors-1">
        <a href="https://www.instagram.com/edit_emend/" title="Insta" ><i class="bi bi-instagram"></i></a>
        <a href="https://www.behance.net/manahilsuriya?isa0=1" title="Behance"><i class="bi bi-behance"></i></a>
        <a href="https://www.facebook.com/manahil.suriya" title="Facebook" ><i class="bi bi-facebook"></i></a>
        
      </div>
       
   
      </div>
      <div class="col-md-4 col-lg-4 ">
        <div class="last_two">
          
           <h2 class="heading">Contact</h2><br>
            <i class="bi bi-telephone-outbound text-start"></i>+123 98645830<br><br>
            <i class="bi bi-geo-alt-fill text-start "></i>
           Colony, Street 42, House # 121 
          <br> <br><i class="bi bi-envelope-fill text-start st"></i>
          manahilsuriya23@gmail.com
        </div>
        
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="last_three">
            
          <h2 class="heading">Information</h2><br>
          <div class="three_a">
            
            <a href="Personalities" title="Personalities"><i class="bi bi-arrow-right"></i> Personalities</a><br><br>
            <a href="cities" title="Cities"><i class="bi bi-arrow-right"></i> Cities</a><br><br>
            <a href="spots" title="Spots"><i class="bi bi-arrow-right"></i>Spots</a><br><br>
            <a href="Contact" title="Contact"><i class="bi bi-arrow-right"></i>Contact</a><br>
          </div>
          
       </div>
    </div>
    

    </div>

  </div>