<div class="container-fluid overflow-hidden text-center ">
    <div class="row ">
      <div class="col-12 col-md-12 col-lg-12 nav-bar fixed-top">
        <div class="items-1">
          <h5> <i class="bi bi-telephone-outbound"></i>+123 98645830<i class="bi bi-geo-alt-fill"></i> Colony, Street 42, House # 121 <i class="bi bi-envelope-fill"></i> manahilsuriya23@gmail.com</h5>
      </div> 
      <div>
        <img src="CSS/icons/manahil.png" alt="manahil" >
        <a href="home" title="home">Home</a>
        <a href="Personalities" title="Personalities">Personalities</a>
        <a href="cities" title="Cities">Cities</a>
        <a href="spots" title="Spots">Spots</a>
        <a href="Contact" title="Contact">Contact</a>
      </div>
              
      </div>
    </div>
  </div>