<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="CSS/stylesheet.css">
    <link rel="shitcut icon" href="CSS/icons/manahil.png">
</head>
<body>
  <%- include("partials/navbar.ejs") %>
      <div class="container-fluid overflow-hidden text-center for-pos ">
       
        <div class="row back">
          <div class="col-12 col-md-12 col-lg-12 me">
            <img src="CSS/images/cities.jpg">
          </div>
          <div class="col-12 col-md-8 col-lg-12 pos">
            
            <h1>Cities</h1>
            <p >Favorite cities are those that leave an impression on us with  unique culture, history, architecture, and natural beauty. Some cities may known for their bustling energy, while others for their peaceful serenity. Each city has its own charm and allure that draws visitors from around the world. Whether it's the bustling streets of New York, the romantic charm of Paris, the historical grandeur of Rome, or the cultural melting pot of Tokyo, every city has something special to offer. Exploring new cities can be a thrilling and rewarding experience, offering an opportunity
                 to discover new cultures, taste exotic food create unforgettable memories.
              </p>
              <div class="learn-more rounded-circle">
                <a href="spots" title="learn more">Learn more</a>
              </div>
              
          </div>
        </div>
      </div>
      <div class="mid">
        <h1> My Favourite Cities</h1>
        <h3>Paris,Tokyo,New york,Maldives,Switzerland</h3>
        <p>Exploring new cities can be a thrilling and rewarding experience, offering an opportunity 
            to discover new cultures, taste exotic foods, and create unforgettable memories.</p>

      </div>
      <div class="container px-4 text-center">
        <div class="row gx-5">
          <div class="col-md-6 col-lg-4">
           <div class="p-3">
            <div class="card" style="width: 18rem;">
                <img src="CSS/images/paris.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Paris</h5>
                  <p class="card-text">Paris, the capital city of France, is often referred to as the "City of Love"
                     and is considered one of the most beautiful cities in the world. 
                    </p>
                 
                </div>
              </div>
        </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <img src="CSS/images/cities-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Tokyo</h5>
                      <p class="card-text">Tokyo is a vibrant and bustling city that seamlessly blends modernity and tradition, offering a unique and unforgettable experience for visitors.

                      </p>
                     
                    </div>
                  </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="p-3">
                    <div class="card" style="width: 18rem;">
                        <img src="CSS/images/cities-3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">New york</h5>
                          <p class="card-text">New York City, also known as the Big Apple,
                             is a bustling metropolis filled with iconic landmarks such as the Statue of Liberty, Central Park, and the Empire State Building.
                          </p>
                         
                        </div>
                      </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <img src="CSS/images/Istanbul.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Istanbul</h5>
                      <p class="card-text">Istanbul, the only city in the world that spans two continents,
                         is a melting pot of cultures, history, and stunning architecture. From the majestic Hagia Sophia to the vibrant Grand Bazaar, Istanbul offers a unique blend of old-world charm and modern-day allure.

                      </p>
                     
                    </div>
                  </div>
            </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="p-3">
            <div class="card" style="width: 18rem;">
                <img src="CSS/images/Maldives.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maldives</h5>
                  <p class="card-text">Maldives is a tropical paradise known for its stunning blue waters, 
                    coral reefs, and white sand beaches. With its luxurious resorts and peaceful atmosphere, it's the perfect destination for those seeking relaxation and natural beauty.

                  </p>
                 
                </div>
              </div>
        </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="p-3">
        <div class="card" style="width: 18rem;">
            <img src="CSS/images/Switzerland.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Switzweland</h5>
              <p class="card-text">Switzerland is a land of breathtaking scenery,
                with its majestic mountains, crystal-clear lakes, and charming towns. Known for its chocolate, cheese, and watches, Switzerland is also a hub for adventure activities such as skiing, hiking, and mountain biking. 

              </p>
             
            </div>
          </div>
    </div>
</div>
        </div>
      </div>
      <%- include("partials/footer.ejs") %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>