<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalities</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="CSS/stylesheet.css">
    <link rel="shitcut icon" href="CSS/icons/manahil.png">
</head>
<body>
  <%- include("partials/navbar.ejs") %>
      <div class="container-fluid overflow-hidden text-center for-pos ">
       
        <div class="row back">
          <div class="col-12 col-md-12 col-lg-12 me">
            <img src="CSS/images/personalities.jpg">
          </div>
          <div class="col-12 col-md-8 col-lg-12 pos">
            
            <h1>Personalities</h1>
            <p >Personalities are individuals who have made a significant impact in their respective fields, ranging from politics to sports, entertainment to technology, and more. They are often recognized for their unique skills, accomplishments, and contributions to society, which have earned them a large following and admiration from their fans and followers. Personalities can inspire and influence people with their actions, ideas, and perspectives, and their stories can serve as a source of inspiration for others to strive for excellence and achieve their goals. Whether they are historical figures or contemporary icons, personalities continue
                 to shape the world we live in and leave their mark on the pages of history.
              </p>
              <div class="learn-more rounded-circle">
                <a href="cities" title="learn more">Learn more</a>
              </div>
              
          </div>
        </div>
      </div>
      <div class="container px-4 text-center para">
        <div class="row gx-5">
          <div class="col-md-6 col-lg-4">
           <div class="p-3 content">
           <h3>
            Berk Atan
           </h3>
           <p>
            Berk Atan is a popular Turkish actor who has gained a significant following in recent years. He was born on September 27, 1991, in Istanbul, Turkey, and began his acting career in 2014 with the TV series "Güneşin Kızları." Berk Atan has since starred in various TV shows, including "Kırgın Çiçekler," "Siyah İnci," and "Kuzey Yıldızı İlk Aşk," among others. With his good looks, talent, and charming personality, 
            Berk Atan has become a heartthrob for many fans both in Turkey and around the world. 
          </div>
          </div>
          
            <div class="col-2 mt-6">
              <div class="p-3 back-2">
               
          </div>
          </div>
          <div class="col-md-4 col-lg-6">
            <div class="p-3 my-pic">
              <img src="CSS/images/berk.jpg">
            </div>
          </div>
      </div>
      </div>
      <div class="container px-4 text-center para">
        <div class="row gx-5">
            <div class="col-md-2 col-lg-2 mt-6">
                <div class="p-3 back-2">
                 
            </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="p-3 my-pic">
                <img src="CSS/images/hande.jpg">
              </div>
            </div>
          <div class="col-md-6 col-lg-6">
           <div class="p-3 content">
           <h3>
            Hande Ercel
           </h3>
           <p>
            Hande Erçel is a popular Turkish actress and model who has gained widespread recognition for her remarkable acting skills and stunning looks. She was born on November 24, 1993, in Bandirma, Turkey. Hande started her career as a model and won the title of Miss Turkey in 2012. She then went on to pursue acting and made her debut on television with the Turkish series "Çalıkuşu" in 2013. Since then, she has appeared in several successful TV shows and movies, including "Aşk Laftan Anlamaz," "Hayat Şarkısı," and "Halka." Hande has won numerous awards for her outstanding performances,
             including the Best Actress Award at the Pantene Golden Butterfly Awards in 2019.  
          </div>
          </div> 
      </div>
      </div>
      <div class="container px-4 text-center para">
        <div class="row gx-5">
          <div class="col-md-6 col-lg-4">
           <div class="p-3 content">
           <h3>
            Onur Seyit Yaran
           </h3>
           <p>
            Onur Seyit Yaran is a Turkish film and television director who is known for his exceptional storytelling skills and artistic vision. He has directed some of the most popular Turkish TV dramas such as "Karadayı", "Güneşin Kızları" and "Fi". Onur Seyit Yaran has a unique approach to his work, which is characterized by his attention to detail and his ability to create a perfect balance between drama and realism. He is widely regarded as one of the most talented and successful directors in the Turkish entertainment industry, a
            nd his work has won critical acclaim both in Turkey and internationally. 
          </div>
          </div>
          
            <div class="col-md-2 col-lg-2 mt-6">
              <div class="p-3 back-2">
               
          </div>
          </div>
          <div class="col-md-4 col-lg-6">
            <div class="p-3 my-pic">
              <img src="CSS/images/Onur.jpg">
            </div>
          </div>
      </div>
      </div>
      <%- include("partials/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>